<div class="input-group mb-3">
    <input
        type="text" 
        class="form-control form-control-lg"
        placeholder="@Placeholder"
        @bind-value="valueToSearch"
        />
    <button type="button" class="input-group-text btn-primary"
        @onclick="Search">@ActionText</button>
</div>

@code {
    private string? valueToSearch;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? ActionText { get; set; }

    private async Task Search()
    {
        await OnSearch.InvokeAsync(valueToSearch);
    }
}
