@using IMS.CoreBusiness
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<SearchComponent Placeholder="Type inventory name here to search" ActionText="View" OnSearch="OnSearchInventoryAsync" />

@if (inventories != null)
{
    <div class="inventory-list-container">
        <ul class="inventory-list">
            @foreach (Inventory inventory in inventories)
            {
                <li 
                    class="inventory-list__item" 
                    @onclick="() => SelectInventoryAsync(inventory)"
                    @key="inventory.InventoryId">
                        @inventory.InventoryName
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public EventCallback<string> OnSearchInventory { get; set; }

    [Parameter]
    public EventCallback<Inventory> OnSelectInventory { get; set; }

    private IEnumerable<Inventory>? inventories;

    private async Task OnSearchInventoryAsync(string searchParameter = "")
    {
        this.inventories = await ViewInventoriesByNameUseCase.ExecuteAsync(searchParameter);
    }

    private async Task SelectInventoryAsync(Inventory inventory)
    {
        this.inventories = null;
        await OnSelectInventory.InvokeAsync(inventory);
    }
}

<style>
    .inventory-list-container {
        overflow-y: auto;
        max-height: 300px;
    }
    .inventory-list__item {
        cursor: pointer;
    }
</style>