@page "/addproduct"

@inject IAddProductUseCase AddProductUseCase
@inject NavigationManager NavigationManager

<h3>Add Product</h3>
<br/>

@if (product != null && product.ProductInventories != null)
{
    <ProductFormComponent Product="product" OnValidSubmitAsync="OnValidSubmitAsync" />
}

@code {
    private Product? product;

    protected override void OnInitialized()
    {
        product = new Product();
        product.ProductInventories = new List<ProductInventory>();
    }

    private async Task OnValidSubmitAsync(Product product)
    {
        await AddProductUseCase.ExecuteAsync(product);
        NavigationManager.NavigateTo("/products");
    }
}
