@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase  

<h3>Product List</h3>
<br/>
<SearchComponent Placeholder="Type product name here to search" ActionText="View" OnSearch="OnSearchProductsAsync" />

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in products)
            {
                <ProductItemComponent Product="product" />
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ViewProductsByNameUseCase.ExecuteAsync();
    }

    private async Task OnSearchProductsAsync(string searchParameter = "")
    {
        products = await ViewProductsByNameUseCase.ExecuteAsync(searchParameter);
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }
}
