@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase  

<h3>Product List</h3>
<br/>
<ViewProductsComponent OnSearchProducts="OnSearchProducts"></ViewProductsComponent>

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Product product in products)
            {
                <ProductItemComponent Product="product"></ProductItemComponent>
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<Product> products = await ViewProductsByNameUseCase.ExecuteAsync();
        this.products = products.ToList();
    }

    private void OnSearchProducts(List<Product> products)
    {
        this.products = products;
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }
}
